<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294823411708-2vcts9mutjf8ebv87seqvmt072gmohc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294823411708-2vcts9mutjf8ebv87seqvmt072gmohc5</string>
	<key>API_KEY</key>
	<string>AIzaSyBShjHb5wxUEznXbYxgvuG1R8lflG7EmSE</string>
	<key>GCM_SENDER_ID</key>
	<string>294823411708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-989a3</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-989a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294823411708:ios:870cebe54e8918f63f7c79</string>
</dict>
</plist>